<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Prosta Lista zadń</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles.css" />
    <script src="https://unpkg.com/vue@next" defer></script>
    <script src="app.js" defer></script>
  </head>
  <body>
    <header>
      <h1>Vue Prosta lista zadań</h1>
    </header>
    <section id="user-listazadan">
      <h2>Utwurz listę zadań</h2>
      <input type="text" v-model="inicjujZadanieWartosc" />
      <button @click="addWpis">Dodaj zadanie</button>
      <p v-if="listazadan.length === 0">
        Nie wprowadzono jeszcze żadnej wartości. Uzupełnij powyższe pole.
      <ul v-else>
        <li v-for="(Wpis, index) in listazadan" :key="Wpis" @click="usunWpis(index)">
          <p>{{ Wpis }} - {{ index }}</p>
          <input type="text" type="text" @click.stop>
        </li>
      </ul>
      <!-- <ul>
        <li v-for="num in 10">{{ num }}</li>
      </ul> -->
      <!-- <ul>
        <li v-for="(value, key, index) in {name: 'Max', age: 31}">{{ key }}: {{ value }} - {{ index }}</li>
      </ul> -->
    </section>
  </body>
</html>
